<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Data Source=r9zbycpq8e.database.windows.net;Initial Catalog=riot4_db;User ID=RIoT@r9zbycpq8e;Password=MSTeamA1" name="riot4_db" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
